
<!DOCTYPE html>
<html>
<head>
    <title>Coach Delete Match</title>
</head>
<body>
    <h2>Delete Match From ID</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" id="matchId" name="matchId" placeholder="Match ID">
        <button type="submit" id="deleteMatch">Delete Match</button>
    </form>

    <h2>Matches</h2>
    <p>matchID, teamID, stadiumID, timeSlot, date, jury, rating</p>
    <ul>
        {% for match in matches %}
            <li>{{ match.id }}, {{match.teamID}}, {{match.stadiumID}}, {{match.timeSlot}},  {{match.date}}, {{match.jury}}, {{match.rating}}</li>
        {% endfor %}
    </ul>

</body>
</html>